.hi-content blockquote,
.hi-content pre.hi-code {
  /* background: #fff3d4;
  border-color: #f6b73c; */

  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  overflow-wrap: break-word;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;

  border: 0px;

  line-height: 29px;

  border-radius: 2px;
  /* border-left: 4px solid #9C9D97;
  color: #666; */
  border-left: 5px solid #2479cc;
  color: #334455;

  background-color: #9da7a626;
  padding: 10px 20px;
  font-family: PingFangSC-Regular, "Microsoft Yahei", sans-serif;
}
.hi-content blockquote.hi-origin-info {
  background-color: #f6f6f6;
  border-left: 4px solid #0073cc;
  padding: 8px 16px !important;
}

.hi-content blockquote.hi-origin-info em {
  word-break: break-all;
}


.hi-content strong {
  color: #2479cc;
}

.hi-content .hn-title + ol {
  margin-left: 8px;
}

@media screen and (max-width: 475px) {
  .hi-content img {
    max-width: 100%;
    height: auto;
  }

  .hi-content * {
    max-width: 100%;
  }
  .hi-content .hn-title {
    flex-direction: column;
    /*align-items: center !important;*/
    align-items: flex-start !important;
  }
  .hi-content .hn-title > p {
    padding: 8px !important;
    background: #fff !important;
    color: #111 !important;
  }
}
.hi-content {
  margin-bottom: 64px;
}
.hi-content p,
.hi-content blockquote,
.hi-content li {
  font-size: 16px !important;
  line-height: 2em !important;
  word-break: normal !important;
}

.hi-content h1,
.hi-content h2 {
  padding: 8px 0 !important;
  color: #333 !important;
  font-size: 18px !important;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  line-height: 31.59px;
}

.hi-content h1 {
  font-size: 22px !important;
}
.hi-content h2 {
  font-size: 20px !important;
}
.hi-content h3 {
  font-size: 17px !important;
}
.hi-content h3::before {
  content: "‣ ";
}

.hi-content h4 {
  font-size: 16px !important;
}
.hi-content h5 {
  font-size: 14px !important;
}

.hi-content a {
  color: #4183c4 !important;
}

.hi-content a:hover {
  text-decoration: underline !important;
}
.hi-content ul,
.hi-content ol {
  padding-left: 1rem;
  padding-inline-start: 1.25rem;
  list-style-position: inside;
}

.hi-content ul > li {
  list-style-type: circle;
  list-style-position: outside;
}

.hi-content :not(pre) > code {
  padding: 0.3rem 0.6rem !important;
  border-radius: 0.2rem !important;
  margin: 0 0.2rem;
  background: rgba(212, 53, 159, 0.03);
  /* color: rgb(179, 37, 133); */
  color: #e83e8c;
  text-shadow: 0 1px white;
  overflow-wrap: break-word;
}

.hi-content .hn-wrap :not(pre) > code {
  background-color: transparent !important;
}

.hi-content img {
  max-width: 100%;
  height: auto;
}
.hi-content .hi-text-lighter-blue {
  color: #203658 !important;
}
.hi-content blockquote strong {
  font-size: 16px;
}

.hi-content .hi-content-tail .hi-view-in-osc-link {
  text-decoration: none !important;
}
.hi-content-tail {
  margin-top: 32px;
}

.hi-content blockquote em {
  font-size: 14px !important;
  line-height: 1.2em;
  word-break: break-word;
  font-style: normal;
}

.hi-content figure {
  margin: 0;
}
.hi-content table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  margin: 1rem 0;
}
.hi-content td,
.hi-content th {
  padding: 4px 8px;
  border: 1px solid #ddd;
}

.hi-content li {
  line-height: 2em;
}

.hi-content div.code-toolbar {
  font-size: 0.96em;
}
.hi-content div.code-toolbar:hover > .toolbar {
  opacity: 0;
}
.hi-content div.code-toolbar > .toolbar:hover {
  opacity: 1;
}
.hi-content div.code-toolbar > .toolbar button {
  /* background-color: #1976d2; */
  padding: 0.3em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 6em;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  background: #728291;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.hi-content > :first-child {
  margin-top: 0 !important;
}

.hi-content .token.operator {
  background-color: transparent;
}
