html,
body,.w3-text,p,h1,h2,h3,h4,h5,h6 {
  /* min-height: 100%;   */
  /* font-family: Georgia, 'Times New Roman', Times, 'Songti SC', serif !important;   */
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
  
  word-break: break-all;
    /* font-family: Georgia, 'Times New Roman', Times, 'Songti SC', serif  !important; */
    
  

}
.w3-text,p,h1,h2,h3,h4,h5,h6 {
  line-height:1.8em;
}

body {
  padding-top: 70px;
}
.w3-margin-top-32 {
  margin-top: 32px !important;
}

@media (max-width: 600px){
  .w3-large {
      font-size: 16px!important;
  }
  body {
    padding-top:50px;
  }
  .hi-breadcrumbs{
    margin-top: 16px;
    margin-left: 12px;
  }
}
  
@media (min-width: 1200px){
  .container {
    width: 980px; 
  }
}

.navbar-brand { 
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  50% { 
    opacity: 0.5; 
   } 
  100% { 
      opacity: 1; 
   } 
} 


footer {
  width: 100%;
  /* margin-top: 20px; */
  /* border-top: 1px solid #ccc; */
  padding: 5px 0;
  color: #666;
  font-size: 0.85em;
  text-align: left;

}


a:hover,
a:active {
  color: #043448;
}

table.w3-table-all {
  margin: 20px 0
}

/*OPPSETT AV TOP, TOPNAV, SIDENAV, MAIN, RIGHT OG FOOTER:*/
.top {
  position: relative;
  background-color: #ffffff;
  height: 68px;
  padding-top: 20px;
  line-height: 50px;
  overflow: hidden;
  z-index: 2;
}

.w3schools-logo {
  font-family: fontawesome;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  position: absolute;
  top: 17px;
}

.w3schools-logo .dotcom {
  color: #4CAF50
}

.topnav {
  position: relative;
  z-index: 2;
  font-size: 17px;
  background-color: #5f5f5f;
  color: #f1f1f1;
  width: 100%;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.topnav a {
  padding: 10px 15px 9px 15px !important;
}

.topnav .w3-bar a:hover,
.topnav .w3-bar a:focus {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.topnav .w3-bar a.active {
  background-color: #4CAF50;
  color: #ffffff;
}

a.topnav-icons {
  width: 52px !important;
  font-size: 20px !important;
  padding-top: 11px !important;
  padding-bottom: 13px !important;
}

a.topnav-icons.fa-home {
  font-size: 22px !important
}

a.topnav-icons.fa-menu {
  font-size: 22px !important
}

a.topnav-localicons {
  font-size: 20px !important;
  padding-top: 6px !important;
  padding-bottom: 12px !important;
}

i.fa-caret-down,
i.fa-caret-up {
  width: 10px
}
.hi-hover-blue:hover,.hi-hover-blue:focus,
.hi-nav-search-button a:active,.hi-nav-search-button a:hover,.hi-nav-search-button a:focus {
  background-color: #cef;
  color: #23527c;
}
.hi-no-underline{
  text-decoration:none !important;
}

.hi-navbar-header .navbar-brand {  
  font-family: Verdana,sans-serif !important;
}

#navbar  .navbar-nav{
  font-weight: 600;
  
  color:#fff;
}
#sidenav h2 {
  font-size: 21px;
  padding-left: 16px;
  margin: -4px 0 4px 0;
  width: 204px;
}

#sidenav a {
  font-family: "Segoe UI", Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 2px 1px 1px 16px
}

#sidenav a:hover,
#sidenav a:focus {
  color: #000000;
  background-color: #cccccc;
}

#sidenav a.active {
  background-color: #4CAF50;
  color: #ffffff
}

#sidenav a.activesub:link,
#sidenav a.activesub:visited {
  background-color: #ddd;
  color: #000;
}

#sidenav a.activesub:hover,
#sidenav a.activesub:active {
  background-color: #ccc;
  color: #000;
}

#leftmenuinner {
  position: fixed;
  top: 0;
  padding-top: 112px;
  padding-bottom: 0;
  height: 100%;
  width: 220px;
  background-color: transparent;
}

#leftmenuinnerinner {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}

#main {
  padding: 16px
}

#mainLeaderboard {
  height: 90px
}

#right {
  text-align: center;
  padding: 16px 16px 0 0
}

#right a {
  text-decoration: none
}

#right a:hover {
  text-decoration: underline
}

#skyscraper {
  min-height: 600px
}

.sidesection {
  margin-bottom: 32px;
}

#sidesection_exercise a {
  display: block;
  padding: 4px 10px;
}

#sidesection_exercise a:hover,
#sidesection_exercise a:active {
  background-color: #ccc;
  text-decoration: none;
  color: #000000;
}

.bottomad {
  padding: 0 16px 16px 0;
  float: left;
  width: auto;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

#nav_tutorials,
#nav_references,
#nav_exercises {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#nav_tutorials::-webkit-scrollbar,
#nav_references::-webkit-scrollbar,
#nav_exercises::-webkit-scrollbar {
  width: 12px;
}

#nav_tutorials::-webkit-scrollbar-track,
#nav_references::-webkit-scrollbar-track,
#nav_exercises::-webkit-scrollbar-track {
  background: #555555;
}

#nav_tutorials::-webkit-scrollbar-thumb,
#nav_references::-webkit-scrollbar-thumb,
#nav_exercises::-webkit-scrollbar-thumb {
  background: #999999;
}

#nav_tutorials,
#nav_references,
#nav_exercises {
  display: none;
  letter-spacing: 0;
  margin-top: 44px;
}

#nav_tutorials a,
#nav_references a,
#nav_exercises a {
  padding: 2px 0 2px 6px !important;
}

#nav_tutorials a:focus,
#nav_references a:focus,
#nav_exercises a:focus {
  color: #000;
  background-color: #ccc;
}

#nav_tutorials h3,
#nav_references h3,
#nav_exercises h3 {
  padding-left: 6px;
}

.ref_overview {
  display: none
}

.w3-example {
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  margin: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}

.nextprev a {
  font-size: 17px;
  border: 1px solid #cccccc;
}

.nextprev a:link,
.nextprev a:visited {
  background-color: #ffffff;
  color: #000000;
}

.w3-example a:focus,
.nextprev a:focus {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nextprev a.w3-right,
.nextprev a.w3-left {
  background-color: #4CAF50;
  color: #ffffff;
  border-color: #4CAF50
}

#w3-exerciseform {
  background-color: #555555;
  padding: 16px;
  color: #ffffff;
}

#w3-exerciseform .exercisewindow {
  background-color: #ffffff;
  padding: 16px;
  color: #000000;
}

#w3-exerciseform .exerciseprecontainer {
  background-color: #f1f1f1;
  padding: 16px;
  font-size: 120%;
  font-family: Consolas, "Courier New", Courier, monospace;
}

#w3-exerciseform .exerciseprecontainer pre {
  display: block;
}

#w3-exerciseform .exerciseprecontainer input {
  padding: 1px;
  border: 1px solid transparent;
  height: 1.3em;
}

.w3-theme {
  color: #fff !important;
  background-color: #73AD21 !important;
  background-color: #4CAF50 !important
}

.w3-theme-border {
  border-color: #4CAF50 !important
}

.sharethis a:hover {
  color: inherit;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square {
  padding: 0 8px;
}

.fa-facebook-square:hover,
.fa-thumbs-o-up:hover {
  color: #3B5998;
}

.fa-twitter-square:hover {
  color: #55acee;
}

.fa-google-plus-square:hover {
  color: #dd4b39;
}

#google_translate_element img {
  margin-bottom: -1px;
}

#googleSearch {
  color: #000000;
}

#googleSearch a {
  padding: 0 !important;
}

.searchdiv {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 16px
}

div.cse .gsc-control-cse,
div.gsc-control-cse {
  background-color: transparent;
  border: none;
  padding: 6px;
  margin: 0px
}

td.gsc-search-button input.gsc-search-button {
  background-color: #4CAF50;
  border-color: #4CAF50
}

td.gsc-search-button input.gsc-search-button:hover {
  background-color: #46a049;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

.gsc-tabsArea div {
  overflow: visible;
}

/*"nullstille" w3css:*/
.w3-main {
  transition: margin-left 0s;
}


blockquote{
  background: #fff3d4;
  border-color: #f6b73c;
}
/* blockquote.hi-origin-info{
  background-color: #f6f6f6;
  border-left: 4px solid #0073cc;
  padding: 8px 16px;
} */

.hi-blue {
  color:#fff;
  background-color: #2157f3!important;
}
.hi-text-blue {
  color:#2157f3 !important;
}
.hi-dark {
  /* background-color:#203658 !important; */
  background-color:#3367d6!important;
  
  color:#fff !important;
}

.hi-text-dark{
  color:#203658 !important;
}


.hi-light-dark {
  background-color:#4183c4 !important;
  /* background-color:#3367d6 !important; */
  color:#fff !important;
}
.hi-text-light-dark{
  color:#4183c4 !important;
  
}


/*"nullstilling" slutt*/
@media (min-width:1675px) {
  #main {
    width: 79%
  }

  #right {
    width: 21%
  }
}

@media (max-width:992px) {
  .top {
    height: 100px
  }

  .top img {
    display: block;
    margin: auto;
  }

  .top .w3schools-logo {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin: auto
  }

  .toptext {
    width: 100%;
    text-align: center
  }

  #sidenav {
    width: 260px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  #sidenav h2 {
    font-size: 26px;
    width: 100%;
  }

  #sidenav a {
    padding: 3px 2px 3px 24px;
    font-size: 17px
  }

  #leftmenuinner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    position: relative;
    width: auto;
    padding-top: 0;
    background-color: #f1f1f1;
  }

  #leftmenuinnerinner {
    overflow-y: scroll
  }

  .bottomad {
    float: none;
    text-align: center
  }

  #skyscraper {
    min-height: 60px
  }
}

@media screen and (max-width:600px) {

  .w3-example,
  .w3-note,
  #w3-exerciseform {
    margin-left: -16px;
    margin-right: -16px;
  }

  .top {
    height: 68px
  }

  .toptext {
    display: none
  }
  
}

/* @font-face {
  font-family: 'fontawesome';
  src: url('../lib/fonts/fontawesome.eot?14663396');
  src: url('../lib/fonts/fontawesome.eot?14663396#iefix') format('embedded-opentype'),
    url('../lib/fonts/fontawesome.woff?14663396') format('woff'),
    url('../lib/fonts/fontawesome.ttf?14663396') format('truetype'),
    url('../lib/fonts/fontawesome.svg?14663396#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
} */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/*
.fa-2x {
  font-size: 2em;
}

.fa-menu:before {
  content: '\f0c9';
}

.fa-globe:before {
  content: '\e801';
}

.fa-search:before {
  content: '\e802';
}

.fa-thumbs-o-up:before {
  content: '\e803';
}

.fa-left-open:before {
  content: '\e804';
}

.fa-right-open:before {
  content: '\e805';
}

.fa-facebook-square:before {
  content: '\e806';
}

.fa-google-plus-square:before {
  content: '\e807';
}

.fa-twitter-square:before {
  content: '\e808';
}

.fa-caret-down:before {
  content: '\e809';
}

.fa-caret-up:before {
  content: '\e80a';
}

.fa-adjust:before {
  content: '\e80b';
}
*/

span.marked,
span.deprecated {
  color: #e80000;
  background-color: transparent;
}

.intro {
  font-size: 16px
}

.w3-btn,
.w3-btn:link,
.w3-btn:visited {
  color: #FFFFFF;
  background-color: #4CAF50
}

a.w3-btn[href*="exercise.asp"],
a.w3-btn[href*="exercise_js.asp"] {
  margin: 10px 5px 0 0
}

a.btnplayit,
a.btnplayit:link,
a.btnplayit:visited {
  background-color: #FFAD33;
  padding: 1px 10px 2px 10px
}

a.btnplayit:hover,
a.btnplayit:active {
  background-color: #ffffff;
  color: #FFAD33
}

a.btnplayit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a.btnsmall:link,
a.btnsmall:visited,
a.btnsmall:active,
a.btnsmall:hover {
  float: right;
  padding: 1px 10px 2px 10px;
  font: 15px Verdana, sans-serif;
}

a.btnsmall:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a.btnsmall:active,
a.btnsmall:hover {
  color: #4CAF50;
  background-color: #ffffff
}

.tagcolor {
  color: mediumblue
}

.tagnamecolor {
  color: brown
}

.attributecolor {
  color: red
}

.attributevaluecolor {
  color: mediumblue
}

.commentcolor {
  color: green
}

.cssselectorcolor {
  color: brown
}

.csspropertycolor {
  color: red
}

.csspropertyvaluecolor {
  color: mediumblue
}

.cssdelimitercolor {
  color: black
}

.cssimportantcolor {
  color: red
}

.jscolor {
  color: black
}

.jskeywordcolor {
  color: mediumblue
}

.jsstringcolor {
  color: brown
}

.jsnumbercolor {
  color: red
}

.jspropertycolor {
  color: black
}

.javacolor {
  color: black
}

.javakeywordcolor {
  color: mediumblue
}

.javastringcolor {
  color: brown
}

.javanumbercolor {
  color: red
}

.javapropertycolor {
  color: black
}

.kotlincolor {
  color: black
}

.kotlinkeywordcolor {
  color: mediumblue
}

.kotlinstringcolor {
  color: brown
}

.kotlinnumbercolor {
  color: red
}

.kotlinpropertycolor {
  color: black
}

.phptagcolor {
  color: red
}

.phpcolor {
  color: black
}

.phpkeywordcolor {
  color: mediumblue
}

.phpglobalcolor {
  color: goldenrod
}

.phpstringcolor {
  color: brown
}

.phpnumbercolor {
  color: red
}

.pythoncolor {
  color: black
}

.pythonkeywordcolor {
  color: mediumblue
}

.pythonstringcolor {
  color: brown
}

.pythonnumbercolor {
  color: red
}

.angularstatementcolor {
  color: red
}

.sqlcolor {
  color: black
}

.sqlkeywordcolor {
  color: mediumblue
}

.sqlstringcolor {
  color: brown
}

.sqlnumbercolor {
  color:
}

.darktheme {
  background-color: rgb(40, 44, 52);
  color: white;
}

.darktheme .tagcolor {
  color: #88ccbb
    /*green2*/
     !important
}

.darktheme .tagnamecolor {
  color: #ff9999
    /*red*/
     !important
}

.darktheme .attributecolor {
  color: #c5a5c5
    /*purple*/
     !important
}

.darktheme .attributevaluecolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .commentcolor {
  color: color: #999;
   !important
}

.darktheme .cssselectorcolor {
  color: #ff9999
    /*red*/
     !important
}

.darktheme .csspropertycolor {
  color: #c5a5c5
    /*purple*/
     !important
}

.darktheme .csspropertyvaluecolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .cssdelimitercolor {
  color: white !important
}

.darktheme .cssimportantcolor {
  color: color:#ff9999
    /*red*/
     !important
}

.darktheme .jscolor {
  color: white !important
}

.darktheme .jskeywordcolor {
  color: #c5a5c5
    /*purple*/
     !important
}

.darktheme .jsstringcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .jsnumbercolor {
  color: #80b6ff
    /*blue*/
     !important
}

.darktheme .jspropertycolor {
  color: white !important
}

.darktheme .javacolor {
  color: white !important
}

.darktheme .javakeywordcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .javastringcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .javanumbercolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .javapropertycolor {
  color: white !important
}

.darktheme .kotlincolor {
  color: white !important
}

.darktheme .kotlinkeywordcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .kotlinstringcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .kotlinnumbercolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .kotlinpropertycolor {
  color: white !important
}

.darktheme .phptagcolor {
  color: #999 !important
}

.darktheme .phpcolor {
  color: white !important
}

.darktheme .phpkeywordcolor {
  color: #ff9999
    /*red*/
     !important
}

.darktheme .phpglobalcolor {
  color: white !important
}

.darktheme .phpstringcolor {
  color: color:#88c999
    /*green*/
     !important
}

.darktheme .phpnumbercolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .pythoncolor {
  color: white !important
}

.darktheme .pythonkeywordcolor {
  color: #ff9999
    /*red*/
     !important
}

.darktheme .pythonstringcolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .pythonnumbercolor {
  color: #88c999
    /*green*/
     !important
}

.darktheme .angularstatementcolor {
  color: #ff9999
    /*red*/
     !important
}

.darktheme .sqlcolor {
  color: white !important
}

.darktheme .sqlkeywordcolor {
  color: #80b6ff
    /*blue*/
     !important
}

.darktheme .sqlstringcolor {
  color: #88c999
    /*green*/
     !important
}


.hi-header{
  color:#555;
  margin-top:32px;
}

.hi-main{  
  margin:0 auto ;
}

.hi-main > *{
  padding: 0 50px;
}
@media (max-width: 600px){
  .hi-main > *{ padding: 0 16px;}
}

.hi-header,.hi-main{
  /* max-width: 820px; */
  max-width: 100%;
  
}
.homepage-tweet-body .hi-main > * {
  padding: 0;
}
.hi-excerpt h1 {
  font-size:18px;
}
.hi-content .hn-title + ol {
  margin-left:8px;
}
@media only screen and (max-device-width: 600px) {

  .hi-excerpt h1 {
    font-size:16px;
  }

  .w3-code,
  .w3-codespan,
  #w3-exerciseform .exerciseprecontainer {
    font-family: 'Source Code Pro', Menlo, Consolas, monospace;
  }

  .w3-code {
    font-size: 14px;
  }

  .w3-codespan {
    font-size: 15px;
  }

  #w3-exerciseform .exerciseprecontainer {
    font-size: 15px;
  }

  #w3-exerciseform .exerciseprecontainer input {
    padding: 0;
    height: 1.5em
  }
  .pagination a:first-child , .pagination a:last-child{
    display: none;
  }
}

@media screen and (max-width:700px) {
  #mainLeaderboard {
    height: 60px
  }

  #div-gpt-ad-1422003450156-0 {
    float: none;
    margin-left: auto;
    margin-right: auto
  }

  #div-gpt-ad-1422003450156-3 {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
}

@media (max-width:1700px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(17) {
    display: none;
  }
}

@media (max-width:1600px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(13) {
    display: none;
  }
}

@media (max-width:1510px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(12) {
    display: none;
  }
}

@media (max-width:1450px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(11) {
    display: none;
  }
}

@media (max-width:1330px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(10) {
    display: none;
  }
}

@media (max-width:1200px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(9) {
    display: none;
  }
}

@media (max-width:1100px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(8) {
    display: none;
  }
}

@media (max-width:1000px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(7) {
    display: none;
  }
}

@media (max-width:992px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(6) {
    display: none;
  }
}

@media (max-width:930px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(18) {
    display: none;
  }
}

@media (max-width:800px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(19) {
    display: none;
  }
}

@media (max-width:650px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(5) {
    display: none;
  }

  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(16) {
    display: none;
  }
  
}

@media (max-width:460px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(4) {
    display: none;
  }
}

@media (max-width:400px) {
  #topnav .w3-bar:nth-of-type(1) a:nth-of-type(3) {
    display: none;
  }
}
.navbar-brand, .navbar-nav>li>a {
  text-shadow:none;
}
.w3-note {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b
}

.w3-warning {
  background-color: #ffdddd;
  border-left: 6px solid #f44336
}

.w3-info {
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50
}

.w3-padding-0{
  padding:0!important;
}
.w3-padding-top-0{
  padding-top:0!important;
}
.w3-padding-left-0{
  padding-left:0!important;
}
.w3-padding-right-0{
  padding-right:0!important;
}
.w3-padding-bottom-0{
  padding-bottom:0!important;
}

.w3-margin-0{
  margin:0!important;
}
.w3-margin-top-0{
  margin-top:0!important;
}
.w3-margin-left-0{
  margin-left:0!important;
}
.w3-margin-right-0{
  margin-right:0!important;
}
.w3-margin-bottom-0{
  margin-bottom:0!important;
}

hr[id^="ez-insert-after-placeholder"] {
  margin-top: 0;
}

.phonebr {
  display: none;
}


@media screen and (max-width: 475px) {
  .phonebr {
    display: initial;
  }
  .hi-content img{
    max-width: 100%;
    height: auto ;
  }
  
  .user-body .w3-ul li:first-of-type .hi-excerpt
  
  {
    padding-top:0;
  } 

  .hi-content * {
    max-width: 100%;
  }
  /* .pagination.w3-bar .w3-bar-item{
    padding: 8px 12px;
  } */
  .w3-xlarge{
    font-size:22px!important;
  }
}


.hi-excerpt{
  border-bottom: 1px solid #ddd;
  padding: 32px 0;
}
.hi-post-type-post .hi-excerpt-text {
  display: none;
}
.hi-main .w3-ul li {
  padding: 0;
}
.homepage-tweet-body .hi-main .w3-ul li {
  padding: 0px 50px;
  
}
@media screen and (max-width: 475px) {
  .homepage-tweet-body .hi-main .w3-ul li {
    padding: 0px 16px;
  }
}



.hi-content-wrap:before{
  content: '';
  height: 1px;
  width: 100px;
  background: #eee;
  display: block;
  margin: 16px auto 20px;
}

.hi-content {  
  margin-bottom:64px;
}
.hi-content p, .hi-content blockquote,.hi-content li{    
  font-size: 16px !important;
  line-height: 2em !important;
  word-break: normal !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  /* color:#23527c; */
  color:#203658;
  
  margin: 8px 0;
}
.hi-content h1,.hi-content h2,.hi-content h3{
  
    padding: 8px 0 !important;
    color: #333 !important;    
    font-size:18px !important;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;    
    line-height: 31.59px;
}

.hi-content h1{
  font-size:22px !important;
  
}
.hi-content h2{
  font-size:20px !important;
  
}

.hi-content h4{
  font-size:16px !important; 
  
}
.hi-content h5{
  font-size:14px !important; 
}

.hi-content a{
  color: #4183c4 !important;
  
}

.hi-content a:hover{
  text-decoration: underline !important;
}
.hi-content ul,.hi-content ol {
  padding-left: 1em;
  padding-inline-start: 8px;
  list-style-position: inside;
}


.hi-content ul>li {
  list-style-type: circle;
  list-style-position: inside;
}
.hi-header .hi-title{
    display: inline-block;
    margin: auto;
    text-align: justify;
    margin-top:16px;
    margin-bottom: 8px;
    padding: 0 16px;
}
  

/* .hi-content pre {

  color: #333 !important;
  border: none;
  width: auto;
  background-color: #f9f9f9 !important;
  padding: 8px 12px !important;
  border-left: 4px solid #BDC2A7;
  word-wrap: break-word;
  margin: 0 0 16px 0;
  border-radius: 0 !important;  
  max-width: 100%;
  font-size: 14px;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}

.hi-content td pre {
  border-left: 1px solid #BDC2A7;
}

.hi-content :not(pre) > code{
  padding: 0.125rem 0.3125rem 0.0625rem !important;  
  color: #e96900 !important;
  background-color: #f8f8f8 !important;
  border-radius: 4px !important;
}

.hi-content pre code,.hi-content pre code, .hi-content pre code *{
  color: #525252 !important;
  background-color: transparent !important;
  display: block;
} */
.hi-content :not(pre) > code{
  padding: 0.125rem 0.3125rem 0.0625rem !important;
  
  /* background-color: rgba(255, 224, 224,0.8) !important; */
  border-radius: 2px !important;
  
  margin: 0 2px;
}

.hi-content .hn-wrap :not(pre)>code {
  background-color: transparent!important;
}


.hi-content img{
  max-width: 100%;
  height: auto;
}
.hi-view-in-osc-link{
    text-rendering: optimizelegibility;
    font-family: brandon-grotesque;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    line-height: 2.2em;
    text-transform: uppercase;
}



.hi-underline{
  text-decoration: underline;
}

.hi-underline-dotted{
  text-decoration: underline dotted;
}


.hi-text-grey{
  color:#888;
}
.hi-light-grey {
  background-color: #ECF0F1 !important;
}

.responsive-youtube
{overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}
.responsive-youtube iframe
{left:0; top:0; height:100%; width:100%; position:absolute;}


.responsive-meting {
  overflow: hidden;
  padding-bottom: 62.5%;
  position: relative;
  height: 0;
}
.responsive-meting iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border:none;
}
a.nickname,.hi-excerpt .hi-meta.w3-small{
  /* padding: 2px 4px; */
  font-size: 90%;
  color: #888;
  /* background-color: #4183c4; */  
  /* font-weight: bold; */
}
.hi-excerpt .hi-meta.w3-small .hi-date{  
  font-weight: 400;
  background: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  padding-left: 8px;
}
a.nickname,.hi-text-lighter-blue {
  /* color: #4183c4 ; */
  color: #203658;
  opacity: .75;
}
.hi-content .hi-text-lighter-blue {
  color: #203658 !important;
}

.hi-lighter-blue{
  background-color: #4183c4 ;
}

.hi-excerpt *:not(code).w3-small {
  font-size: 16px !important;
  color:#888;
  margin-bottom: 0px;
}
.hi-excerpt .hi-meta.w3-small {  
  /* text-align: right; */
  margin-top:8px;
  
}
.hi-content blockquote strong {
  font-size:16px;
}
#back2Top {
    
  cursor: pointer;        
  text-align: center;
  text-decoration: none;
  background:#fff;
  
}
#back2Top:hover {
  opacity:.8;
}

.hi-navbar.navbar-collapse.in {
  overflow-y: visible;
}
.nav>li>a:focus, .nav>li>a:hover,.nav>li.on>a{
  background-color: #cef;
  color:#23527c
}


.hi-dot::before {
  content: "\2022";
  color: #ccc;
  margin: 0 5px 0 3px;
  display: inline-block;
}
.hi-content .hi-content-tail .hi-view-in-osc-link
{
  text-decoration: none !important;
}
.hi-content-tail {
  margin-top:32px;
}

.hi-content blockquote em {
    font-size: 14px !important;
    line-height: 1.2em;
    word-break: break-word;
    font-style: normal;
}

.hi-content figure {
  margin:0;
}
.hi-content table {
  display: block;
  overflow-x: auto;
}
.hi-content li {
  line-height: 2em;
}


.hn-wrap {
  display: block !important;
}

.hn-wrap >ol {
  padding-inline-start: 16px;
}
li.hn-item {
  list-style-position: outside;
}
.hn-title img {
  padding-right: 16px !important;
}

.hn-item >a {
  /* font-size:18px; */
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
}
.hn-item >div h2 {  
  margin:0 4px 0 0 !important;  
}
.hn-item >div h2 code.hi {
  background-color: transparent!important;
  padding-left: 0 !important;
}
.hn-item >div h2 ,.hn-item >div ul{
  display:inline-block;
  
}

@media (max-width: 480px) {
  .hn-item >p {  
    display: block;    
  }
}


.hn-item >cite,.hn-item >div ul{
  color:#888;
}
.hn-item >cite::after{
  content:" ";
  display:block;
}
.hn-item ul>li{
  list-style-type: none;      
  font-size: 14px;
}


.hi-content div.code-toolbar {
  font-size:0.96em;
}
.hi-content div.code-toolbar:hover > .toolbar{
  opacity: 0;
}
.hi-content div.code-toolbar > .toolbar:hover{
  opacity: 1;
}
.hi-content div.code-toolbar > .toolbar button {
  /* background-color: #1976d2; */
  padding: .3em;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 6em;
  font-size: .8em;
  padding: .3em;  
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  background: #728291;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-color: #f9f9f9; */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    
    background-image: url(https://oscimg.oschina.net/oscnet/up-6d0fcd96bdffbc27b358e529e60c695f778.JPEG);
    background-size: cover;
}

.hi-bg-blue,.hi-author-bg {
  background-image: none;
  background-color: #0599D2;
}

.hi-author-bg-19 {
  background-image: url(https://oscimg.oschina.net/oscnet/up-38b5fb9be09aa162a46151e00d95de8a.jpg);
  background-color:#767b96;
}

.hi-author-bg-23{
  background: rgb(251, 251, 251) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23eeeeee' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E") repeat scroll 0% 0%;
}
.hi-author-bg-23 footer{
  background-color: #777;
}

.hi-bg-linear{
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(180deg, #0599D2 5%, #C28698 100%);
}
.hi-bg-translucent {
  background-color: rgba(255,255,255,0.25);
}
.hi-text-aliceblue{
  color: aliceblue !important;
}
.hi-text-bisque {
  color: bisque !important;
}
#layout{
  padding:0;
  background-color: #fff;
  margin-bottom: 48px;
  padding-bottom: 48px;
  
}
.homepage-tweet-body #layout {
  margin-bottom: 0;
}
.hi-content-wrap:after{
    content: '';
    height: 1px;
    width: 100%;
    background: #eee;
    /* display: block; */
    display: none;
    margin: 15px auto 20px;
}

.hi-content >:first-child {
  margin-top: 0 !important;
}


/**search form**/
body:not(.search-body) .hi-search-form-wrap{
  
  position: fixed;
  
  padding: 0 16px;
  z-index: 1024;
  top: 130px;
  left: 50%;
  
  margin: 0 auto;
  transform: translate(-50%,-50%);
  
}
.hi-search-form-wrap{
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: rgba(255,255,255,0.9);
}
.hi-search-form {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
  z-index: 2;
  overflow-y: hidden;
  max-height: 96px;
  transition-property: margin,max-height;
  transition-duration: .3s;
  margin-top: 24px;
  transition-timing-function: linear;
}

.hi-search-form.closed {
  max-height: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.hi-search-form.closed *{
  display: none;
}
.hi-search-form input[type=text] {
    width: 100%;
    font: 18px/40px lato,helvetica neue,Helvetica,Arial,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #bbb;
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 42px;
}
.hi-search-form input[type=text]:focus,.search-body .hi-search-form input[type=text]{
  border-color: #4183c4;
}



.hi-search-form button {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 34px;
    width: 100px;
    background: #5badf0;
    color: #fff;
    border: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 600 14px/1 lato,helvetica neue,Helvetica,Arial,sans-serif;
}

@media only screen and (max-device-width: 480px) {

  /* body{ background-image:none;background-color: #fff;} */
  
  #layout{    margin-bottom: 8px;
    padding-bottom: 8px;}
  .responsive-meting {
    padding-bottom: 138.5%; 
  }

  .hi-navbar .w3-dropdown-hover, .hi-navbar  .w3-dropdown-content {
    width:100%;
  }
  .hi-content .hn-title{
    flex-direction: column;
    /*align-items: center !important;*/
      align-items: flex-start !important;
  }
  .hi-content .hn-title >p{
    padding: 8px !important;
    background: #fff !important;
    color: #111 !important;
  }
    .hi-header{
        margin-top:16px;
    }
  .hi-header .hi-title{
    padding: 0 16px ;
    margin-top: 24px;
  }
  .hi-search-form-wrap,.hi-breadcrumbs{
    padding:0 16px !important;
    margin-top:8px;
  }

}


/** gallery **/

.gallery-wrap{
  width:50%;
}
div.gallery {
  /* border: 1px solid #ccc; */
  overflow: hidden;
  position: absolute;
    top: 0;
    width:100%;
    height: 100%;

    padding:2px;
}



div.gallery img {

  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

div.gallery img:hover{
  transform: scale(1.3);
}

div.desc {
  padding: 15px;
  text-align: center;
}



.responsive {
  padding: 0;
  float: left;
  width: 32.333%;
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding-top: 32.333%;
  height: 0;
  overflow: hidden;
  position: relative;
  margin: 0.5%;
}

@media only screen and (max-width: 700px) {
  .gallery-wrap{
    width:100%;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**modal**/
.hi-modal-content{
  min-height: 100px;
}

.hi-modal {
  background: rgba(0,0,0,0.6);
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index:1050;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
}
.hi-modal.open{
  opacity: 1;
  pointer-events: all;
}
.hi-modal .full-img {
  position:absolute;
  top:50%;
  left:50%;
  max-height:80%;
    max-width: 80%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: all 0.25s ease-out;
}
.hi-modal .full-img.open {  
  transform:translate(-50%,-50%) scale(1);
}
.hi-modal .caption {
  color: #fff;
  font-size:.2rem;
  /** 绝对定位下的一种水平居中的写法**/
  position: absolute;
  bottom:5%;
  left:50%;
  transform: translate(-50%,-5%); 
}
@media only screen and (max-width: 480px) {
    .hi-modal .full-img {
        max-width: 90%;
        height: auto;
    }
    .navbar-toggle{
      margin-right: 6px;
    }
    
}

/**input checkbox radio switch etc**/
.hi-input-section {
    display: inline-block;
    margin-right: 8px;
}

input[type=checkbox]:checked+label,input[type=radio]:checked+label{
    color: #275efe;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, 0.3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background 0.3s, border-color 0.3s,
        -webkit-box-shadow 0.2s;
        transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s,
        -webkit-box-shadow 0.2s;
    }
    input[type="checkbox"]:after,
    input[type="radio"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s),
        -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s),
        -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s),
        -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    input[type="checkbox"]:disabled:checked,
    input[type="radio"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type="checkbox"]:disabled + label,
    input[type="radio"]:disabled + label {
        cursor: not-allowed;
    }
    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
        -webkit-box-shadow: 0 0 0 var(--focus);
        box-shadow: 0 0 0 var(--focus);
    }
    input[type="checkbox"]:not(.switch),
    input[type="radio"]:not(.switch) {
        width: 21px;
    }
    input[type="checkbox"]:not(.switch):after,
    input[type="radio"]:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type="checkbox"]:not(.switch):checked,
    input[type="radio"]:not(.switch):checked {
        --o: 1;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }
    input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }
    input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }
    input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }
    input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
    input[type="radio"] {
        border-radius: 50%;
    }
    input[type="radio"]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }
    input[type="radio"]:checked {
        --s: 0.5;
    }
}


.hi-tweet-content {
  word-break: break-all;

}
.hi-tweet-content a {
  word-break: break-all;
  /* text-decoration: underline; */
  color:#0073cc !important;
}


/**登录注册**/
/* .register-body,.login-body{
  background-image: url(https://oscimg.oschina.net/oscnet/up-6d0fcd96bdffbc27b358e529e60c695f778.JPEG);
  background-size: cover;
} */

.register-body input.form-control,.login-body input.form-control {     
  background-color: rgba(255,255,255,0.5);
}
.login-body footer,.register-body footer {
  visibility: hidden;
}
.hi-form {
  width: 100%;
}
.register-body,.register-post-body #layout,.login-body{
  justify-content: space-around;
}
.register-body #layout,.register-post-body #layout, .login-body #layout,.login-post-body #layout {
  background-color: transparent;
  width: 100%;
  margin-bottom: 48px;  
  margin-top:0;  
  padding: 0 16px;

}
.hi-form-title{
  text-align: center;
}
.hi-error-panel{
  list-style: inside;
}

.hi-flash-panel ul {
  margin:0;
  padding:0;
}

@media screen and (min-width: 601px) {
  .register-body #layout,.register-post-body #layout,.login-body #layout,.login-post-body #layout {
    width:60%;
    margin-top: 48px;  
  }
}
@media screen and (min-width: 1025px) {
  .register-body #layout,.register-post-body #layout,.login-body #layout,.login-post-body #layout {
    width: 30%;
  }
}



.hi-tweet-content-wrap{
  margin-bottom:0
}

.hi-tweet-content .hi-excerpt{
  /* border-bottom: none; */
  
}
.hi-comments {
  margin:0;
  
  list-style:none;
  background:#fff;
  padding-top: 24px;
  padding-bottom: 16px;
}
.hi-comments:not(.hi-tweet-ref)::after {
  content: 'EOF';
  color: rgba(32, 54, 88,0.6);
  display: block;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 4px;
  opacity: .6;
  font-weight: 600;
}

.hi-comments >li {
  display:grid;
  grid-template-columns: 50px auto;
  /* grid-template-rows: 50px auto; */
  grid-column-gap: 12px;
  grid-row-gap: 4px;

  justify-items: start;
  /* margin:16px 0; */
  padding:8px 0;
}

.hi-tweet-ref  {
  margin-top:16px;
  margin-left:16px;
  padding:0;
}
.hi-tweet-ref >li {
  grid-template-columns: 16px auto;
}
#layout-wrap .hi-tweet-ref .tweet-about{
  background-color:#f4f4f4;
  border:none;
}

.portrait img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.tweet-likes-list .portrait img  {
  width: 24px;
  height: 24px;
}


.hi-comments >li .comment-footer {
  grid-column-start: 2;
  grid-column-end: 3;  
}


.hi-comments .comment-head {
  display: grid;
    grid-column-gap: 8px;
    /* grid-template-columns: calc(100% - 150px) auto; */
    /* grid-template-rows: 1fr 1fr; */
    width: 100%;
    /* justify-content: center; */
    /* justify-items: center; */
    grid-row-gap: 4px;
    align-items: top;
}

.comment-author,.tweet-author, .hi-tweet-header-wrap .tweet-author{
  font-weight: 600;
  color:#203658!important;
}



.comment-pubdate ,.tweet-pubdate{
  color:#888;
  
}
.hi-comments  .comment-pubdate{
  text-align:right;  
  font-size:12px;
}
.hi-comments .comment-head  .comment-content{
  grid-column-start: 1;
  grid-column-end: 3;  
  word-break: break-all;
}

.tweet-content-body #layout,.homepage-tweet-body #layout{
  background:transparent;
  padding:0;
}
.tweet-likes-list-wrap{
    display: grid;
    grid-template-columns: minmax(32px,40px) auto;
    grid-template-rows: 28px auto;
    /* line-height: 5.8; */
    column-gap: 4px;
    margin-top: 8px !important;
}
.tweet-likes-list-wrap h4{
  margin:0;
  padding:0;
  line-height: 1.6;
}

.tweet-likes-list {
  
  display: grid;
  column-gap: 4px;
  grid-template-columns: repeat(auto-fill, 24px);

}

.tweet-content-body .hi-excerpt {
  padding:16px 0;  
}
.homepage-tweet-body .hi-excerpt
{
  border:none;
}

.hi-tweet-content-wrap ul {
  padding-left:0;
}

.hi-tweet-content-wrap,.tweet-content-body #layout-wrap li,.homepage-tweet-body #layout-wrap li {
  background-color: #fff;
}

.hi-lead-title {
  margin-top: 16px!important;
  margin-bottom: 0 !important;
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border:none;
  /* border-bottom: 1px solid #ccc; */
  word-wrap: break-word;
  background: #f4f4f4;
}
.hi-no-comment{
  background: #fff;
}
.hi-comments:not(.hi-tweet-ref) li::after{
  content: '';
  height: 1px;
  width: calc( 100% - 4px);
  background: #eee;
  display: block;
  margin: 8px auto;
  grid-column-start: 2;
  grid-column-end: 3;  
}
/* 
.hi-comments li:last-child::after {
  display: none;
} */
.hi-tweet-header-wrap{
    display: grid;
    grid-template-columns: 50px auto 40px;    
    grid-column-gap: 12px;    
    /* justify-items: start;     */
}
.hi-tweet-header-wrap .portrait{
  grid-row-start:1 ;
  grid-row-end:3;
}
.hi-tweet-header-wrap .tweet-pubdate{
  grid-row-start: 2;
  grid-row-end: 4;
}
.tweet-mark {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  /* background: rgba(32, 54, 88,0.8); */
  background: #3367d6;
  color: #fff;
  padding: 2px 4px;  
}

#layout .tweet-mark a{
  color: #fff !important;
}
dt.hi-text-grey{
  font-weight: normal;
}

.hi-logo {
  font-weight: 600;
  box-shadow: inset -1px 0px 0px rgba( 0, 0, 0, 0.1), 1px 0px 0px rgba( 255, 255, 255, 0.1), inset 1px 0px 0px rgba( 0, 0, 0, 0.1), -1px 0px 0px rgba( 255, 255, 255, 0.1);
  /* background-color:#44000e; */
}

::selection {
  background: #fef4ad;
  /* background:#cef; */
  /* background-color: #E0D978; */
}

.btn-form-tail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hi-content .token.operator {
  background-color: transparent;
}