<a href="https://github.com/falconchen/hicms" class="w3-hover-opacity  hi-text-dark" target="_blank" style="">
    <span style="vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('{{ static_url() }}/images/logo/social_github.png');
    background-size: 14px 14px;
    margin-right: 0;
    text-decoration: none;
    padding: 2px;    
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;"></span>
    <span class="w3-border-bottom hi-text-bisque">HiCMS</span>
</a>

    