<a href="https://github.com/falconchen/hicms" class="w3-hover-opacity  hi-text-bisque" target="_blank" style="text-decoration:none;">
    <span style="vertical-align: text-bottom;width: 1rem;height: 1rem;display: inline-block;background-image: url('https://www.v2ex.com/static/img/social_github.png');background-size: 1rem 1rem;margin-right: 0"></span>
    <span class="w3-border-bottom">HiCMS</span>
</a>
