<a href="https://github.com/falconchen/hicms" class="w3-hover-opacity  hi-text-dark" target="_blank" style="text-decoration:none;background: #fff;padding: 2px 4px;margin-right: 4px;">
    <span style="vertical-align: text-bottom;width: 14px;height: 14px;display: inline-block;background-image: url('{{ static_url() }}/images/logo/social_github.png');background-size: 14px 14px;margin-right: 0"></span>
    <span class="w3-border-bottom">HiCMS</span>
</a>
