{% extends 'layout.twig' %}

{% block title %}
    {{ spaceUser.username }}{{ t.trans("’ Space") }}
{% endblock %}

{% block bodyClass %}
    user-body colletions
{% endblock %}

{% block content %}
    <!-- Header -->
    {% include 'space-header.twig' with {spaceUser: spaceUser,collections:collections,currentPostType:currentPostType,allowPostTypes:allowPostTypes, c:c,t:t} only %}

    
    <main class="hi-main post-list">
        {% if collections.count() %}
            {% include 'collection-list.twig' with {collections: collections,c:c,t:t} only %}
        {% else %}
            {% include 'post-list-none.twig' %}
        {% endif %}
    </main>
{% endblock %}
