{% extends 'layout.twig' %}

{% block meta %}
<meta name="description" content="简单的多人博客系统，可以将文章定时发布到OSChina博客" />
{% endblock %}

{% block title %}
    {{ t.trans('Homepage') }}
    &middot;
    {{ t.trans('PostType.' ~ postType) }}
{% endblock %}

{% block content %}

    <main class="hi-main">

        {% if postType == 'tweet' %}
            {% include "_parts/platform-login-buttons.twig" %}                                        
        {% endif %}

        {% if posts.count() %}
            {% include 'post-list.twig' with { posts: posts,c:c,t:t } only %}
        {% else %}
            {% include 'post-list-none.twig' %}
        {% endif %}

    </main>
{% endblock %}
