<ul class="w3-ul  w3-mobile ">
        {%for post in posts %}
            {% block postTypeItem %}             
                {% include "post-type/" ~ post.post_type ~".twig" %}
                

            {% endblock %} 
        {% endfor %}
    </ul>
    <div class=" w3-center w3-margin-top">
    {% include 'pagination-w3css.twig' with {data: posts} only%}
    </div>